In [1]:
import numpy as np
import pandas as pd

In [23]:
df=pd.read_excel('C:\\Users\\mca\\Downloads\\Cereals1.xls')
df.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
3,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.5,10.5,10,70,25,1,1.0,0.75,29.509541

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      76 non-null     object
 1   mfr       76 non-null     object
 2   type      76 non-null     object
 3   calories  76 non-null     int64
 4   protein   76 non-null     int64
 5   fat       76 non-null     int64
 6   sodium    76 non-null     int64
 7   fiber     76 non-null     float64
 8   carbo     76 non-null     float64
 9   sugars    76 non-null     int64
 10  potass    76 non-null     int64
 11  vitamins  76 non-null     int64
 12  shelf     76 non-null     int64
 13  weight    76 non-null     float64
 14  cups      76 non-null     float64
 15  rating    76 non-null     float64
dtypes: float64(5), int64(8), object(3)
memory usage: 9.6+ KB

In [25]:
#Tabulate the following attributes mfr and types of cereals
df.mfr.unique()

array(['Q', 'K', 'R', 'G', 'P', 'N', 'A'], dtype=object)

In [26]:
df.type.unique()

array(['C', 'H'], dtype=object)

In [27]:
#Display 5no summary for all nutritional attributes starting from calories to vitamins
df.describe()

,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
count,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000,76.000000
mean,107.368421,2.526316,1.013158,160.065789,2.048684,14.723684,6.934211,93.657895,28.289474,2.197368,1.030000,0.827500,42.327057
std,19.139378,1.089020,1.013159,84.318813,2.219038,4.160444,4.473136,68.502565,22.487813,0.832982,0.151438,0.227204,13.820602
min,50.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,0.000000,1.000000,0.500000,0.250000,18.042851
25%,100.000000,2.000000,0.000000,132.500000,0.750000,12.000000,3.000000,40.000000,25.000000,1.000000,1.000000,0.670000,32.932466
50%,110.000000,2.500000,1.000000,180.000000,1.750000,14.500000,7.000000,90.000000,25.000000,2.000000,1.000000,0.750000,40.253086
75%,110.000000,3.000000,2.000000,212.500000,3.000000,17.000000,11.000000,120.000000,25.000000,3.000000,1.000000,1.000000,50.780847
max,160.000000,6.000000,5.000000,320.000000,14.000000,23.000000,15.000000,330.000000,100.000000,3.000000,1.500000,1.500000,93.704912

In [28]:
#For missing values find and replace with arithmetic mean of the attributes
#Find and replace outliers with median
#Compare the 5 number summary before and after preprocessing
df2=df.replace(-1,np.nan)

In [30]:
df_cleaned=df2.fillna(df.mean())

C:\Users\mca\AppData\Local\Temp\ipykernel_8608\3526625027.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df2.fillna(df.mean())

In [31]:
df_cleaned.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3,5,15,2.0,8.0,8.0,135.000000,0,3,1.0,1.00,33.983679
1,All-Bran,K,C,70,4,1,260,9.0,7.0,5.0,320.000000,25,3,1.0,0.33,59.425505
2,All-Bran_with_Extra_Fiber,K,C,50,4,0,140,14.0,8.0,0.0,330.000000,25,3,1.0,0.50,93.704912
3,Almond_Delight,R,C,110,2,2,200,1.0,14.0,8.0,93.657895,25,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2,2,180,1.5,10.5,10.0,70.000000,25,1,1.0,0.75,29.509541

In [41]:
#Find and replace outliers with median
columns=['calories', 'protein', 'fat', 'sodium', 'fiber',
       'carbo', 'sugars', 'potass', 'vitamins', 'shelf', 'weight', 'cups',
       'rating']
for col in columns:
    describe=df_cleaned[col].describe()
    q3=describe['75%']
    q1=describe['25%']
    iqr=q3-q1
    upper_bound=q3+1.5*iqr
    lower_bound=q1-1.5*iqr
    for i in df_cleaned[col]:
        if(i>upper_bound or i<lower_bound):
            df_cleaned=df_cleaned.replace(i,df.median())

C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())
C:\Users\mca\AppData\Local\Temp\ipykernel_8608\1655255280.py:14: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_cleaned=df_cleaned.replace(i,df.median())

In [42]:
df_cleaned.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100%_Natural_Bran,Q,C,120,3.0,1,180,1.75,8.0,8.0,135.000000,25,3,1.0,0.75,33.983679
1,All-Bran,K,C,110,4.0,1,180,1.75,7.0,7.0,90.000000,25,3,1.0,0.75,59.425505
2,All-Bran_with_Extra_Fiber,K,C,110,4.0,1,180,1.75,8.0,7.0,90.000000,25,3,1.0,0.75,40.253086
3,Almond_Delight,R,C,110,2.5,1,180,1.75,14.5,8.0,93.657895,25,3,1.0,0.75,34.384843
4,Apple_Cinnamon_Cheerios,G,C,110,2.5,1,180,1.75,10.5,10.0,90.000000,25,2,1.0,0.75,29.509541